.Pop{
    height: 70px;
    width: 70px;
    border: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.Pop[popped|="true"]{
    background-color: grey;
}

.Pop[sel|="true"]{
    border-color: red;
}